In [3]:
import pandas as pd

In [8]:
data = pd.read_csv('/content/Sales_add.csv')

In [9]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
from scipy.stats import ttest_ind

In [12]:
t_test1, p_val1=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [13]:
p_val1

2.614368006904645e-16

In [18]:
if p_val1<0.05:
    print('Reject null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject null Hypothesis

In [23]:
from scipy.stats import chi2_contingency

In [26]:
contingency_table = pd.crosstab(data['Region'],data['Manager'])

In [27]:
chi2, pvalue2, dof , expected = chi2_contingency(contingency_table)

In [28]:
if pvalue2<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis ')

Accept Null Hypothesis